<html>
    <head><title>Playtorium Solution</title></head>
        <body>
            <div style="width: 70%;margin-left: auto;margin-right: auto;height: 100em;">

                <div style="display: inline;">
                    <div style="display: block;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: -5%;
                    width: 75%;">
                        <img style ="" src = "logo_original.png" />        
                    </div>
                    <div style="margin-left: auto;margin-right: auto;margin-top: -8%;">
                    <h1 style="margin-left: 10em" >Account Registration Information</h1>
                        <div style="background-color: black;width: 70%;margin-left: auto;margin-right: auto;height: 2em;">
                            <bold style="color: aliceblue;"><font size="5">Your Registration details</bold>
                        </div>
                    <p style="margin-left: 10em">Username:</p>
                    <p style="margin-left: 10em">Password:</p>
                    </div>
                </div>
            </div>
        </body> 
   </html>