<html>
    <head>
        <title>Playtorium Solution</title>
        
    </head>
        <body>
            <div style="width:100%; margin:auto; height:100em;">
                <div>
                    <div style="
                    position: relative;
                    display: block;
                    width: 100%;
                    height: 20em;" >
                       <img style="
                       position: absolute;
                       top: 0;
                       left: 0;
                       right: 0;
                       bottom: 0;
                       margin: auto"  
                       src = "logo_original.png" />

                        <h1 style="margin-left: 10em" >Account Registration Information</h1>
                            <div style="background-color: black;width: 70%;margin-left: auto;margin-right: auto;height: 2em;">
                                <bold style="color: aliceblue;"><font size="5">Your Registration details</bold>
                            </div>
                        <p style="margin-left: 10em">Username:</p>
                        <p style="margin-left: 10em">Password:</p>
                    </div>
                </div>
            </div>
        </body> 
   </html>