.profile {
    text-align: center;
}
.main-container{
  position: relative;
  width: 100%;
  height: 100%;
  padding: 3%;
}
.main-container div{
  margin-top: 2%;
}
.main-container table{
  table-layout: fixed;
}
.logo_back{
  width: 25%;
  height: 100%;
  position: absolute;
  z-index: 5;
  right: 2%;
  top: 0;
  opacity: 0.02;
  pointer-events: none;
}
.logo{
  position: relative;
  width: 28vw;
  height: 5.1vw;
  max-width: 716.234px;
  max-height: 130.453px;
  min-width: 496.734px;
  min-height: 90.4738px;
}
.ui.dimmer {
  position: fixed;
}
