.info-container {
    position: relative;
    width: 100%;
    font-family: 'Prompt', sans-serif;
}

.info-container table {
    width: 75%;
    margin: auto;
    table-layout: fixed;
}

.info-container td {
    text-align: left;
}

.info-container tr td:nth-child(odd) {
    width: 50;
}

.blue-text {
    color: rgb(44, 154, 205);
    font-size: 1.7em;
    text-shadow: 0px 3px 1px rgba(0, 0, 0, 0.05);
}

.underline {
    padding-bottom: 1%;
    border-bottom: 0.1em solid #bbbbbb;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.04);
}