.eva-result-container {
    position: relative;
    width: 75%;
    margin: auto;
    font-family: 'Prompt', sans-serif;
}

.eva-result-container th {
    text-align: left;
}

.blue-text {
    color: rgb(44, 154, 205);
    font-size: 1.7em;
    text-shadow: 0px 3px 1px rgba(0, 0, 0, 0.05);
}

.underline {
    padding-bottom: 1%;
    border-bottom: 0.1em solid #bbbbbb;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.04);
}

.inner-table-second {
    margin: auto;
    width: 80%;
}

.eva-result-container td {
    padding: 0.2em;
}

.slide-show {
    transition: 0.4s;
    padding: 0;
    overflow: hidden;
}

.slide-show td {
    padding: 0;
}