.goal-table {
    table-layout: fixed;
}

.goal-table th {
    text-align: left;
}

.goal-table td {
    padding-top: 1em;
}

.blue-text {
    color: rgb(44, 154, 205);
    font-size: 1.7em;
    text-shadow: 0px 3px 1px rgba(0, 0, 0, 0.05);
    font-weight: bold;
}

.underline {
    padding-bottom: 1%;
    border-bottom: 0.1em solid #bbbbbb;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.04);
}